{
  "presets": ["@babel/react"],
  "ignore": [
    "**/__snapshots__", 
    "**/*.d.ts", 
    "**/*.test.*",
 
    "./src/**/App.css",
    "./src/**/App.scss",
    "./src/**/App.tsx",
    "./src/**/index.css",
    "./src/**/serviceWorker.ts",
    "./src/**/setupTests.ts",
    "./src/**/react-app-env.ts"
  ],
  "plugins": [
    "@babel/plugin-transform-typescript",
    "babel-plugin-typescript-to-proptypes",
    "@babel/plugin-proposal-export-default-from",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}